<div class="row">
	<div class="col-md-12">
		<h2 align="center">User Information</h2>
		<hr/>
		<div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Cust&nbsp;CD</th>
                    <th>Password</th>
                    <th>Name</th>
                    <th>USB&nbsp;ID</th>
                    <th>FingerPrint</th>
                    <th>Device&nbsp;ID</th>
                    <th>Expire&nbsp;Date</th>
                    <th>Location</th>
                </thead>
                <tbody>
                {{#each departments}}
                <tr>
                    <td>{{this.userName}}</td>
                    <td>{{this.password}}</td>
                    <td>{{this.firstName}}&nbsp;{{this.lastName}}</td>
                    <td>{{this.bndId}}/{{this.usbId}}</td>
                    <td>{{this.fingerprt}}</td>
                    <td>{{this.deviceId}}</td>
                    <td>{{this.expireDate}}</td>
                    <td>{{this.addressCity}} {{this.addressState}}
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
	</div>
    {{#unless departments}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    {{/unless}}
</div>