<div class="row">
    <div class="col-md-12">
        <h2>Employees</h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Cust&nbsp;CD</th>
                    <th>User&nbsp;Name</th>
                    <th>First&nbsp;Login</th>
                    <th>Version</th>
                    <th>IP&nbsp;Address</th>
                    <th>Machine&nbsp;Name</th>
                    <th>ISP</th>
                    <th>Location</th>
                </thead>
                <tbody>
                    {{#each employees}}
                    <tr>
                        <td>{{this.employeeNum}}</td>
                        <td><a href="/employee/{{this.employeeNum}}">{{this.firstName}}&nbsp;{{this.lastName}}</a></td>
                        <td><a href="/employee/{{this.fLogin}}">{{this.fLogin}}</a></td>
                        <td><a href="/employee/{{this.v}}">{{this.v}}</a></td>
                        <td><a href="/employee/{{this.ipAddress}}">{{this.ipAddress}}</a></td>
                        <td><a href="/employee/{{this.machineName}}">{{this.machineName}}</a></td>
                        <td>{{this.isp}}</td>
                        <td>{{this.addressStreet}} {{this.addressCity}} {{this.addressState}} {{this.addressPostal}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{#unless employees}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div>